@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@plugin "@tailwindcss/typography";

:root {
  --dark-green: #224332;
  --light-green: #326149;
  --lemon-green: #b8d900;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@theme inline {
  --color-dark-green: var(--dark-green);
  --color-light-green: var(--light-green);
  --color-lemon-green: var(--lemon-green);
  --font-ghaith: var(--font-ghaith);
  --font-jf: var(--font-jf);
}
